{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome on MyFormation</h1>
        <p class="lead">Here you can learn all sort of stuff</p>
    </div>
</div>
<div class="container">

    <div class="row">
        <h2 class="home-title">Formations</h2>
    </div>

    <div class="row justify-content-center">
        {% for formation in formations %}
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/800/500" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ formation.title }}</h5>
                    <p class="card-text">{{ formation.description }}</p>
                    <a href="{{ path('formation.detail', {id: formation.id}) }}" class="btn btn-primary">Read it !</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <h2 class="home-title">Lessons</h2>
    </div>

    <div class="row justify-content-center">
        {% for formation in formations %}
            <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/800/500" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ formation.title }}</h5>
                    <p class="card-text">{{ formation.description }}</p>
                    <a href="{{ path('formation.detail', {id: formation.id}) }}" class="btn btn-primary">Read it !</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
